body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.profile-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.profile-section h1 {
    text-align: center;
    color: #333;
}

.profile-info p {
    margin: 10px 0;
}

.update-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.update-section h2 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="number"],
form input[type="text"],
form input[type="date"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}


.delete-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.delete-section h2 {
    text-align: center;
    color: #333;
}


form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="number"],
form input[type="text"],
form input[type="date"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
