body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
#head>div>img{
  width:10%;
  height: 3%;
}
#head>div{
  display: flex;
  align-items: center;
}
#head {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #d3f0f6, #123880);
  padding: 5px 15px;
}

#head h1 {
  color: #333;
}

#head a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#head a:hover {
  color: red;
  font-weight: 600;
}

.BodyTop {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align sections */
}

.dashboard-container {
  width: 50vw;
  padding: 15px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.position-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.position-info h3 {
  margin: 0;
  margin-right: 10px;
}

.position-info span {
  color: rgb(244, 172, 172);
  font-size: 19px;
  font-weight: 700;
}

.profile-info p {
  font-size: 19px;
  margin: 5px 0;
}

#right > img {
  width: 100%;
  height: 150px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

.section-container {
  width: 60vw; /* Same width as dashboard-container */
  padding: 15px;
  margin: 15px 0; /* Add margin between sections */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.section-container h2 {
  color: #333;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding-block: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
footer {
  background-color: #2f70e9;
  color: white;
  text-align: center;
  padding: 7px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  font-weight: 600;
}
